<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Registro de Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registroForm" (ngSubmit)="registrar()">
    <ion-item>
      <ion-label position="floating">Nombre del Negocio</ion-label>
      <ion-input type="text" formControlName="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="Password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de Teléfono</ion-label>
      <ion-input type="tel" formControlName="NumeroTelefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicación del Negocio</ion-label>
      <ion-input type="text" formControlName="UbicacionNegocio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción del Negocio</ion-label>
      <ion-textarea formControlName="DescripcionNegocio"></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="registroForm.invalid">Registrarse</ion-button>
  </form>
</ion-content> -->







<ion-header>
  <ion-toolbar>
    <img src="assets/images/logo de BIOCONNECT.svg" alt="Logo" class="logo">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-image">
    <img src="assets/images/registro.png" alt="Header" class="header-bg">
    <h1 class="header-text">REGISTRO</h1>
  </div>

  <form [formGroup]="registroForm" (ngSubmit)="registrar()">
    <ion-item class="custom-item">
      <ion-label position="floating">Nombre completo</ion-label>
      <ion-input type="text" formControlName="Nombre"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="Email"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="Password"></ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Número de Teléfono</ion-label>
      <ion-input type="tel" formControlName="NumeroTelefono"></ion-input>
    </ion-item>


    <ion-item class="custom-item">
      <ion-label position="floating">Imagen de perfil</ion-label>
      <input type="file" (change)="onFileSelected($event, 'ImagenPerfil')">
    </ion-item>

    <ion-item class="custom-item">
      <ion-label position="floating">Imagen de negocio</ion-label>
      <input type="file" (change)="onFileSelected($event, 'ImagenNegocio')">
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="registroForm.invalid" class="submit-btn" >
      Registrarse
    </ion-button>
  </form>
</ion-content>



<app-footer-nav></app-footer-nav>