
<ion-header>
  <ion-toolbar>
    <ion-title>Productos Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!isLoading; else loading">
  <div class="favoritos-container">
    <ng-container *ngIf="productosFavoritos && productosFavoritos.length > 0; else noFavoritos">
      <div class="productos-grid">
        <app-product-card [favoritos]="true"></app-product-card>
      </div>
    </ng-container>
    
    <ng-template #noFavoritos>
      <div class="empty-state">
        <ion-icon name="star-outline" class="empty-icon"></ion-icon>
        <h3>No tienes favoritos aún</h3>
        <p>Guarda tus productos favoritos haciendo clic en la estrella</p>
        <ion-button fill="outline" routerLink="/home">Explorar productos</ion-button>
      </div>
    </ng-template>
  </div>
</ion-content>

<ng-template #loading>
  <div class="loading-spinner">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando productos favoritos...</p>
  </div>
</ng-template>

<app-footer-nav></app-footer-nav>

