<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Productos del Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <app-product-card [proveedorId]="proveedorId"></app-product-card>
</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Productos del Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="productos-wrapper">
    <app-product-card [proveedorId]="proveedorId"></app-product-card>
  </div>
</ion-content>
