@for (proveedor of proveedores; track $index) { 
  
    <ion-card class="my_card">
   
      
      <ion-card-content class="ion-no-padding">
        <ion-grid class="ion-no-padding">
          <ion-row>
     
            <ion-col size="12" class="ion-align-self-center ion-text-center">
              <h2 class="producto-name">{{ proveedor.name }}</h2>
            </ion-col>
          </ion-row>
        </ion-grid>

        <p class="producto-description">{{ proveedor.DescripcionNegocio }}</p>
        

        <ion-button expand="block" color="primary" (click)="goTOProduct(proveedor._id)">
          Ver Productos del proveedor
        </ion-button>
      </ion-card-content>
    </ion-card>
  }

