

<!-- <ion-content>
  <div class="background-container">
    <img src="assets/images/logo de BIOCONNECT.svg" alt="Logo" class="logo">
    
    <div class="button-container">
      <ion-button class="auth-btn" (click)="navigateToRegister()">
        Crear Cuenta
      </ion-button>
      
      <ion-button class="auth-btn" (click)="navigateToLogin()">
        Iniciar Sesión
      </ion-button>
    </div>
  </div>
</ion-content> -->


<ion-content>
  <div class="background-container">
    <img src="assets/images/Fondo login.jpg" alt="Fondo" class="background-image">
    <img src="assets/images/logo de BIOCONNECT.svg" alt="Logo" class="logo">
    
    <div class="button-container">
      <ion-button class="auth-btn" (click)="navigateToRegister()">
        Crear Cuenta
      </ion-button>
      
      <ion-button class="auth-btn" (click)="navigateToLogin()">
        Iniciar Sesión
      </ion-button>
    </div>
  </div>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <div class="background-container">

    <img src="assets/images/Fondo login.jpg" alt="Fondo" class="background-image">
    <img src="assets/images/logo de BIOCONNECT.svg" alt="Logo" class="logo">

    <div class="button-container">
      <ion-button 
        class="auth-btn" 
        expand="block" 
        shape="round" 
        (click)="navigateToRegister()"
      >
        Crear Cuenta
      </ion-button>
      
      <ion-button 
        class="auth-btn" 
        expand="block" 
        shape="round" 
        (click)="navigateToLogin()"
      >
        Iniciar Sesión
      </ion-button>
    </div>
  </div>
</ion-content> -->